:root {
    --color-orange: #FF4444;
}

body {
    margin: 0;
    padding: 0 0 20px;
    background-color: #F6F3EA;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 52% 55%;
    width: 70%;
    margin: 0 auto;
    transform: rotate(-45deg);
    gap: 10px;
    /* height: 70vh; */
}

.seperator {
    height: 15px;
    background-color: var(--color-orange);
    grid-area: 3/2;
    align-self: end;
}

.text-rotated {
    color: var(--color-orange);
    transform: rotate(90deg);
    grid-area: 2/1;
    transform-origin: right 0;
    margin: 0;
    justify-self: end;
    align-self: end;
    white-space: nowrap;
}

.follow-links {
    grid-area: 3/2;
    align-self: flex-end;
}

.workshop-link {
    grid-area: 2/2;
    align-self: center;
}

.title {
    grid-area: 1/1/2/3;
}

.demo-list {
    grid-area: 3/1;
}

.workshop-link ul {
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    padding: 20px 0 20px 40px;
}

li>a {
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
}

.demo-list li {
    border-bottom: 7px solid black;

}

.demo-list li:first-child {
    border-top: 7px solid black;
}

@media (max-width: 990px) {
    .header-wrapper {
        transform: rotate(0);
        width: 90%;
    }
    .workshop-link{
        align-self: end;
    }
    .title{
        grid-area: 1/1;
    }
    .text-rotated{
        margin-bottom: -26px;
    }
}

@media (max-width: 768px) {
    .header-wrapper  {
        width: 90%;
        grid-template-columns: 70% 30%;
        grid-template-rows: 14% 48% 46% 23%;

    }
    .title{
        grid-column: 1/3;
        text-align: end;
    }
    .follow-links{
        grid-area: 2/1;
    }
    .seperator{
        grid-area: 2/1;
    }
    .demo-list{
        grid-area: 3/1/4/3;
    }
    .workshop-link{
        grid-area: 4/1/5/3;
    }
    .text-rotated {
        grid-area: 2/2;
    }
}